.idea/
*.iml
.gradle
.DS_Store
build/*
docs/*
!docs/LICENSE
!Disclaimer_CN.md
!Disclaimer_EN.md
!docs/PrivacyPolicy_CN.md
!docs/PrivacyPolicy_EN.md
!docs/README_CN.md
!docs/README.md
!docs/update_readme.py
.externalNativeBuild
.cxx
local.properties
.kotlin/*
gradle/*
!gradle/wrapper
!gradle/libs.versions.toml
!gradle/wrapper/gradle-wrapper.properties
/keystore/*