name: Build and Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'zulu'
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Extract version from tag
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Build release APK
        run: bash ./gradlew assembleRelease -PappVerName=${{ env.RELEASE_VERSION }}

      - name: Sign APK
        uses: ilharp/sign-android-release@v2
        id: sign_app
        with:
          releaseDir: app/build/outputs/apk/release
          signingKey: ${{ secrets.SIGNING_KEY }}
          keyAlias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
          buildToolsVersion: "34.0.0"

      - name: Prepare release files
        run: |
          cp ${{ steps.sign_app.outputs.signedFile }} Chimera-${{ env.RELEASE_VERSION }}.apk
          cp app/build/outputs/mapping/release/mapping.txt Chimera-${{ env.RELEASE_VERSION }}-mapping.txt

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: ${{ contains(env.RELEASE_VERSION, '-') }}
          draft: false
          generate_release_notes: true
          files: |
            Chimera-${{ env.RELEASE_VERSION }}.apk
            Chimera-${{ env.RELEASE_VERSION }}-mapping.txt